---
import {
  GITHUB_REPO_URL,
  HTML_HEAD_METADATA,
  POEM_LANGUAGE,
  SCHEMA_ORG_CONTEXT,
  SITE_LOGO_PATH,
  SITE_NAME_AR,
  X_HANDLE_URL,
} from '@qafiyah/constants';
import { SearchWithProviders } from '@/components/search/search-with-providers';
import { SITE_URL } from '@/constants/globals';
import Layout from '@/layouts/Layout.astro';

const jsonLd = {
  '@context': SCHEMA_ORG_CONTEXT,
  '@type': 'WebSite',
  name: HTML_HEAD_METADATA.title,
  url: SITE_URL,
  description: HTML_HEAD_METADATA.description,
  potentialAction: {
    '@type': 'SearchAction',
    target: `${SITE_URL}/?q={search_term_string}`,
    'query-input': 'required name=search_term_string',
  },
  publisher: {
    '@type': 'Organization',
    name: SITE_NAME_AR,
    logo: {
      '@type': 'ImageObject',
      url: `${SITE_URL}${SITE_LOGO_PATH}`,
      width: '112',
      height: '112',
    },
    sameAs: [X_HANDLE_URL, GITHUB_REPO_URL],
  },
  inLanguage: POEM_LANGUAGE,
};
---

<Layout
  title={HTML_HEAD_METADATA.title}
  description={HTML_HEAD_METADATA.description}
  keywords={HTML_HEAD_METADATA.keywords}
  canonical="/"
  jsonLd={jsonLd}
>
  <p
    class="sr-only pointer-events-none text-opacity-0 opacity-0"
    aria-hidden="true"
    tabindex="-1"
  >
    {HTML_HEAD_METADATA.description}
  </p>
  <SearchWithProviders client:only="react" />
</Layout>
